.card-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infoButton{
    justify-content: center;
    align-items: center;
    display: flex;
}
.textName{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
